
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  #top{
    background-color:gray;
  }
  #text1{
    padding-top:18em;
    padding-bottom: 18em;
  }
  #aboutme{
    background-color:#F87531;
    color: white;
  }
  #videos{
    background-color: #696969;
    color: white;
  }
  #myprofessions{
    background-color:#F87531;
    color: white;
  }
  #mystudyhabits{
    background-color:#696969;
    color: white;
  }
  #mymusics{
    background-color:#F87531;
    color: white;
  }
  #mygoal{
    background-color: #696969;
    color: white;
  }
  #contact{
    background-color:#ff6600;
    color: white;
  }
  #hobby{
    background-color: #e6e6e6;
  }