body{
  font-size: larger;
  font-family: 'Brushstroke', Times, serif;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  #top{
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #text1{
    padding-top:18em;
    padding-bottom: 18em;
  }
  #aboutme{
    background-color:#F87531;
    color: white;
  }
  #myvideos{
    background-color: #696969;
    color: white;
  }
  #myprofessions{
    background-color:#F87531;
    color: white;
  }
  #pro{
    background-color:#F87531;
    color: white;
    border: 2px solid white;
  }
  #myStudyStrategy{
    background-color:#696969;
    color: white;
  }
  #stra{
    background-color:#696969;
    color: white;
    border: 2px solid white;
  }
  #mystudyhabits{
    background-color:#696969;
    color: white;
  }
  #habi{
    background-color:#696969;
    color: white;
    border: 2px solid white;
  }
  #mymusics{
    background-color:#F87531;
    color: white;
  }
  #mygoal{
    background-color: #696969;
    color: white;
  }
  #goal{
    background-color: #696969;
    color: white;
    border: 2px solid white;
  }
  #contact{
    background-color:#ff6600;
    color: white;
  }
  #hobby{
    background-color: #e6e6e6;
  }
  .a {
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
  }
  #ab {
    background-color: rgb(0, 77, 0);
  }
  #abc {
    background-color: rgb(204, 0, 0);
  }
  #abcd {
    background-color: rgb(0, 61, 153);
  }
  #abcde {
    background-color:wheat;
    
  }