
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  #top{
    background-color:gray;
  }
  #text1{
    padding-top:18em;
    padding-bottom: 18em;
  }
  #aboutme{
    background-color:#ff6600;
    color: white;
  }
  #videos{
    background-color: #404040;
    color: white;
  }